<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/admin/head'); %>
</head>

<body>
    <!-- Navbar -->
    <%- include('../partials/admin/navbar'); %>

    <!-- Layout SideNavbar -->
    <div id="layoutSidenav">
        <!-- Layout SideNavbar Nav -->
        <%- include('../partials/admin/layout_sidenav'); %>
        <!-- Layout SideNavbar Nav Content -->
        <%- include('../partials/admin/layout_sidenav_content'); %>
    </div>
    

    <header>
    </header>

    <main>
    </main>

    <!-- Scripts -->
    <%- include('../partials/admin/scripts'); %>
</body>

</html>