<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/user/head'); %>
    <title>Pagina Principal</title>
</head>

<body>

    <header>
        <%- include('../partials/user/header'); %>
    </header>

    <main>
        <%- include('../partials/user/carousel'); %>
        <%- include('../partials/user/containerMarketing'); %>
    </main>

    <footer class="card container">
        <%- include('../partials/user/footer'); %>
    </footer>
    
    <%- include('../partials/user/bootstrap'); %>

</body>

</html>