<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/user/head'); %>
    <title>Productos</title>
</head>

<body class="container">

    <header>
        <%- include('../partials/user/header_cc'); %>
    </header>

    <main>
        <div class="row">
            <!--Filtros-->
            <%- include('../partials/user/filtro_productos'); %>

            <!--Cards Productos-->
            <div id="cardsProductos" class="col-md-8 mt-4">
                <% var idProductos = [1,2] %>
                <% for(var prod = 0; prod < productoTienda.length; prod++) { %>
                    <% %>
                    <% for(var i = 0; i < producto.length; i++) { %>
                        <% if (producto[i].id == productoTienda[prod].idProducto) { %>
                            <% var index = i %>
                            <% break %>
                        <% } %>
                    <% } %>
                    <div class="card mb-3" id="producto<%=productoTienda[prod].idProducto%>" productoId="<%=productoTienda[prod].idProducto%>">
                        <div class="row card-body align-items-center">
                            <div class="col-md-3">
                                <img src="<%= producto[index].imagen %>" class="img-fluid rounded mx-auto d-block"
                                    alt="Market">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= producto[index].nombreProd %>
                                    </h5>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            <%= producto[index].descripcion %>
                                        </small>
                                    </p>
                                    <p class="card-text">
                                        <span>S/.</span>
                                        <span>
                                            <%= productoTienda[prod].precio %>
                                        </span>
                                        <span>.00 /u</span>
                                    </p>
                                    <button class="btn btn-success" idbutton="<%=producto[index].id%>" id="idbutton<%=producto[index].id%>">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </main>

    <footer class="card container">
        <%- include('../partials/user/footer'); %>
    </footer>

    <!-- Modal Carrito de Compras-->
    <div class="modal fade" id="modalCarrito" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Productos a adquirir</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Monto (S/.)</th>
                            </tr>
                        </thead>
                        <tbody id="tbody"></tbody>
                    </table>

                    <p id="subtotal">Subtotal: S/. 0</p>

                    <div class="d-grid gap-2 mt-2">
                        <button type="button" class="btn btn-success btn-block" id="botonPagar">
                            Ir a pagar
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/user/bootstrap'); %>
    <script src="/js/productos.js"></script>

</body>

</html>