<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/user/head'); %>
    <title>Tiendas</title>
</head>

<body class="container">

    <header>
        <%- include('../partials/user/header'); %>
    </header>

    <main >
        <%- include('../partials/user/store_cards'); %>
    </main>

    <footer class="card container">
        <%- include('../partials/user/footer'); %>
    </footer>
    
    <%- include('../partials/user/bootstrap'); %>
</body>

</html>